{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Guess the Flag</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main_app/guess_flag.css' %}" />
  </head>
  <body>
    <h1>Guess the Flag</h1>
    <img src="{{ flag.image.url }}" alt="Flag" />
    <form method="post">
      {% csrf_token %}
      <input
        type="text"
        name="guess"
        placeholder="Enter country name"
        autocomplete="off"
      />
      <button class="subimt_button" type="submit">Submit</button>
      <button class="skip_button" type="submit" name="action" value="skip">
        Skip
      </button>
    </form>
    <h2>{{ message }}</h2>
  </body>
</html>
